<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
  ">

    <aop:aspectj-autoproxy expose-proxy="true" />

    <task:executor id="taskExecutor" pool-size="1-64"
                   queue-capacity="0" keep-alive="60"
                   rejection-policy="CALLER_RUNS" />
    <task:scheduler id="taskScheduler" pool-size="5" />
    <task:annotation-driven executor="taskExecutor" scheduler="taskScheduler" />

    <bean class="code.ponfee.commons.util.SpringContextHolder" />
    <import resource="classpath:spring/spring-redis.xml"/>


    <import resource="classpath:spring/spring-quartz-job.xml"/>
    <!--<import resource="classpath:spring/spring-spy-job.xml"/>-->

</beans>
